// Colors
$primary: #142D63;
$primary-middle: #7281A1;
$primary-light: #E7EAEF;
$secondary: #E1AF53;
$secondary-light: #FBE6A5;
$white: #FFFFFF;
$black: #000000;
$third: #666666;
$third-light: #8E8E8E;


// Colors text
$primary-txt: #142D63;
$primary-middle-txt: #7281A1;
$primary-light-txt: #E7EAEF;
$secondary-txt: #E1AF53;
$third-txt: #666666;
$third-light-txt: #8E8E8E;

// filter color mod
$dark-color: #231F20;
$dark-light: #E9E9E9;
$green-color: #104F55;
$green-light: #CFDCDD;

// For btn with icon
$yellow: #F8E753;
$blue: #3D9BF7;
$silver: #dadce2;

// New color
$aqua: #F7F9FC;


// animation
$animate-duration: 1.5s;