@include rmin(1200) {
  .body-load.body-anim {
    .anim__init {
      .anim,
      &.anim {
        &__twitch-down {
          animation-name: twitch-down;
          animation-duration: $animate-duration;
          animation-fill-mode: forwards;
        }
        &__twitch-up {
          transform: translateY(100%);
          animation-name: twitch-up;
          animation-duration: $animate-duration;
          animation-fill-mode: forwards;
        }
        &__background-fade {
          .anim__layer {
            animation-name: background-fade;
            animation-duration: $animate-duration;
            animation-fill-mode: forwards;
          }
        }
        &__rotate-in-up-right {
          opacity: 0;
          animation: rotateInUpRight;
          animation-duration: $animate-duration;
          animation-fill-mode: forwards;
        }
        &__zoom-in-right {
          animation: zoomInRight;
          animation-duration: $animate-duration;
          animation-fill-mode: forwards;
        }
        &__fade {
          animation: fadeIn;
          animation-duration: 0.7s;
          animation-fill-mode: forwards;
        }
        &__fade-in-up {
          animation: fadeInUp;
          animation-duration: $animate-duration;
          animation-fill-mode: forwards;
        }
        &__zoom-in-down {
          animation: zoomInDown;
          animation-duration: $animate-duration;
          animation-fill-mode: forwards;
          width: 100%;
          height: 350px;
        }
        &__zoom-in-big-to-normal {
          animation: zoomInBigToNormal;
          animation-duration: calc(#{$animate-duration} + 0.5s);
          animation-fill-mode: forwards;
        }
        &__circle-in {
          animation: circleIn;
          animation-duration: calc(#{$animate-duration} + 0.5s);
          animation-fill-mode: forwards;
        }
        &__front-in-up {
          animation: Up;
          animation-duration: $animate-duration;
          animation-fill-mode: forwards;
          animation-timing-function: cubic-bezier(.9,.26,.79,.82);
          .anim__item {
            animation: frontIn;
            animation-duration: calc($animate-duration - 0.05s);
            animation-fill-mode: forwards;
            animation-timing-function: inherit;
          }
        }
        &__sticky-in-up {
          opacity: 0;
          animation: stickyInUp;
          animation-duration: calc(#{$animate-duration} / 2);
          animation-fill-mode: forwards;
          //animation-timing-function: cubic-bezier(.9,.26,.79,.82);
          &.anim__delay-x2 {
            animation-delay: calc((#{$animate-duration} / 2) * 2);
          }
          &.anim__delay-x3 {
            animation-delay: calc((#{$animate-duration} / 2) * 3);
          }
        }
        &__delay-after-anim {
          animation-delay: $animate-duration;
          .anim__item {
            animation-delay: $animate-duration;
          }
        }
        &__radial-in {
          animation-name: radialIn;
          animation-duration: $animate-duration;
          animation-fill-mode: forwards;
        }
        &__fadeInUp {
          animation: fadeInUp;
          animation-duration: $animate-duration;
          animation-fill-mode: forwards;
        }
      }
    }
  }
  .body-anim {
    .anim {
      &__front-in-up,
      &__sticky-in-up,
      &__fade-in-up {
        opacity: 0;
      }
      &__slide-in-up,
      &__twitch-up {
        transform: translateY(100vh);
      }
      &__circle-in {
        transform: translateY(100%);
      }
      &__radial-in {
        clip-path: circle(0% at 50% 50%);
      }
    }
    .banner-animated__background {
      min-width: 1900px;
      height: 663px;
      object-fit: cover;
      object-position: top;
      @include rmin(1921) {
        width: auto;
        min-width: auto;
      } // 2k monitor fix
    }
    .app__background {
      opacity: 0;
    }
  }

}


@include rmin(1200) {
  .anim__container {
    position: relative;
    > div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.anim__zoom-in-down-container {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1;
  position: absolute;
  overflow: hidden;
  border-radius: 40px;
  @include r(1000) {
    border-radius: 0px;
  }
  .anim__zoom-in-down {
    width: 100%;
    height: 100%;
  }
  .anim__circle-in {
    width: 100%;
    height: 100%;
  }
}

//keyframes
@keyframes twitch-down {
  0% {
    transform: translateY(-100%);
  }
  70% {
    transform: translateY(20%);
  }
  100% {
    translate: translateY(0%);
  }
}

@keyframes twitch-up {
  0% {
    transform: translateY(100vh);
  }
  70% {
    transform: translateY(-10vh);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes circleIn {
  0% {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    transform: scale(1);
  }
  50% {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    transform: scale(5);
  }
  100% {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    transform: scale(55);
  }
}

@keyframes stickyInUp {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes frontIn {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes Up {
  0% {
    opacity: 0;
    transform: translateY(300px);
  }
  20% {
    opacity: 1;
    transform: translateY(240px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes zoomInBigToNormal {
  0% {
    transform: scale(0.8);
  }
  30% {
    transform: scale(0.8);
  }
  60% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.0);
  }
}

@keyframes radialIn {
  to {
    clip-path: circle(71.0% at 50% 50%);
  }
}
